<main class="px-3" >
    <center><img height="100px" width="40%" src="https://as2.ftcdn.net/v2/jpg/08/57/77/49/1000_F_857774949_IIWZ0v2RcYdALb9HM1y5NURNuj33sEEH.jpg"></center><br>

    <h1> Assalam Alaikum .</h1>
    <p class="lead"> Welcome to the "Way to masjid" App here we can guide you to the nearest moasjid and its salah timing.</p>
    <p class="lead">
    <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Add Mosques</a>
    </p>
</main>

